{% for message in app.session.flashbag.get('success') %}
    <div style="margin-top: 20px" class="notification is-primary">
        <button class="delete"></button>
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('warning') %}
    <div style="margin-top: 20px" class="notification is-warning">
        <button class="delete"></button>
        {{ message }}
    </div>
{% endfor %}

{% for message in app.session.flashbag.get('errors') %}
    <div style="margin-top: 20px" class="notification is-danger">
        <button class="delete"></button>
        {{ message }}
    </div>
{% endfor %}