{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">

        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Desafio Flexy
                    </h1>
                    <h2 class="subtitle">
                        Seja bem Vindo!
                    </h2>
                </div>
            </div>
        </section>
	</div>
{% endblock %}
{% block title %}
	Lita de Produtos
{% endblock %}
